/* Efectos de transición y animación */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo general */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: #2C3E50;
    color: #ECF0F1;
    overflow-x: hidden;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInUp 1s ease-in-out;
}

.section {
    padding: 60px 20px;
    margin: 20px 0;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 1s ease-in-out;
}

.section h1, .section h2, .section h3 {
    margin: 0 0 20px;
    font-weight: 500;
    color: #16A085;
}

.section p, .section ul {
    margin: 0;
    line-height: 1.6;
}

.section ul {
    padding: 0;
    list-style: none;
}

.section ul li {
    margin: 10px 0;
    animation: fadeInUp 1s ease-in-out;
}

.section.about {
    background: linear-gradient(135deg, #1abc9c, #3498db);
    color: white;
    animation: fadeInUp 1.2s ease-in-out;
}

.section.education, .section.skills, .section.contact, .section.courses {
    background: #34495E;
    animation: fadeInUp 1.5s ease-in-out;
}

.section a {
    color: #F39C12;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.section a:hover {
    color: #E74C3C;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

.navbar {
    background-color: #34495E;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-nav li {
    margin-right: 20px;
    animation: fadeInUp 1s ease-in-out;
}

.navbar-nav li a {
    color: #ECF0F1;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-nav li a:hover {
    color: #1ABC9C;
}

/* Botón de cambio de idioma */
.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
}

.switch > span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
}

.check-toggle-round-flat {
    visibility: hidden;
    position: absolute;
    margin-left: -9999px;
}

.check-toggle-round-flat + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    width: 100px;
    height: 40px;
    background-color: #3498db;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    transition: margin-left 0.3s;
}

.check-toggle-round-flat:checked + label:after {
    margin-left: 50px;
    background-color: #1ABC9C;
}